* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #8A51FC;
    height: 100vh;
}

#imagem-logo {
    width: 300px;
    height: 300px;
    margin: 10px auto;
    display: block;
}

section {

    width: 400px;
    height: 700px;
    padding: 32px 17px;
    border: none;
    border-radius: 20px;
    margin: 0px auto;
    background-color: #F4F4F4;
}

label {
    display: block;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #777777;
    margin-bottom: 5px;
}

select {
    width: 100%;
    outline: none;
    height: 48px;
    border-radius: 4px;
    border-width: 1px;
    border: 1px solid #BBBBBB;
    margin-bottom: 20px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #555555;
    text-align: calc(10px);
    padding: 10px;
    appearance: none;
    cursor: context-menu;
}

input {
    width: 100%;
    outline: none;
    height: 48px;
    border-radius: 4px;
    border-width: 1px;
    border: 1px solid #BBBBBB;
    margin-bottom: 20px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    padding: 10px;
    appearance: none;
    color: #3C3C3C;

}

button {
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #7444b2;
    height: 50px;
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
}

option {
    margin-left: 10px;
}

.div-baixo {
    margin: 10px 10px 10px 10px;
    text-align: center;
    border: 1px solid #772FD3;
    border-radius: 20px;
    height: 314px;
    padding: 18px;
}

p {
    color: #555555;
    margin-bottom: 20px;
}

.fig {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #777777;
}

#imagem-seta {
    margin-bottom: 20px;
}

button:hover {
    background-color: #8a4fd6;
}

button:active {
    background-color: #9960e4;
    cursor: auto;
}

select:hover {
    cursor: cell;
}